body{
	background-color: black;

}


h2, h3{
	color: white;

}

h2{
	margin-bottom: 30px;
}

#featured{
	margin-top: 40px;
}

img[alt~="tb"]{
	width:100%;  /*  317/1010  31.38613861%*/
	height: 67.82334385%;  /* 67.82334385%*/
	
}

.about{
	margin-bottom: 10px;

}