body{
	background-color: black;
	font-family: verdana, sans-serif;
}

h2, h3, h4, p{
	color: white;
}

h2{
	margin-bottom: 3.092783505%; /*   30/970 = 3.092783505%*/
}

#featured{
	margin-top: 4%;  /*   40/1000 = */
}

img[alt~="tb"]{
	width:100%;  /*  317/1010  31.38613861%*/
	height: 67.82334385%;  /* 67.82334385%*/
}

.about{
	margin: 1.030927835% 0; /* 10/970 = 1.030927835% */
}

.social li{
	
	float:left;
	list-style: none;
	margin-right: 3%;

}

.social{
	width: 80%;
	margin-top: 3%;
}

.social li:nth-child(1n+2){
	margin: .6% 0 0 1%;
	
}

footer{
	background-color: #333333;
	margin-top: 2%;
}

.top-bar-section ul li>a{
	font-size: .9em;
}

.top-bar .name h1 a {
	font-size: 1.1em;
}
