
body{
	font-family: tahoma, verdana, "sans-serif";
	background: url(../img/multicolor.jpg);
	font-size: 1em;
	width: 100%;
	max-width: 960px;
	margin: 2% auto 2% auto;
}

h1, h2{
	color: #006a55;
}


h1{
	margin: .5em auto;
	width: 90%;
	text-align: center;
	padding-top: 1em;
}


h2{
	font-size: 1em;
}


form{
	width: 480px;
	background-color: #e5b165;
	margin: 0 auto;
	opacity: .9;
}


label{
	display: block;
	font-size: .8em;
}


input{
	margin-bottom: 20px;
	width: 50%;
	height: 20px;
}

#personal_data input, #Place_of_Employment, #start, textarea{
	border-radius: 3px;
}


#radio label{
	display: inline;
	float: left;
	padding-top: 5px;
	-webkit-margin-top: 3px;
}


#radio input{
	width: 5%;
	float: left;
	clear: both;
	
}


#rangeBar p{
	text-indent: 10%;
}


#rangeBar input{
	width: 60%;
	margin-left: 10%;
}


#range{
	width: 60%;
	display:block;
	margin: 0 0 5% 7%;
	text-align: center;
	border: none;
}


#btn{
	width: 60%;
	margin: 1% 0 1% 10%;
	padding-bottom: 20px;
}


textarea{
	width: 50%;
}


fieldset{
	border: none;
	margin-left: 2em;
}


#submit{
	display: block;
	width: 40%;
	margin: 5% 0 10% 10%;
	padding: 5% 0 10% 10%;
}


#submit{
	margin: 0 0 20px 0;
	cursor: pointer;
	height: 30px;
}


/* ================== Media Queries starts here ===================== */
@media screen and (max-width: 520px){

form{
	width: 90%;
}

#radio p{
	font-size: .9em;
}


input{
	
	width: 70%;
}


textarea{
	width: 70%;
}

}



