body{
	width: 100%;
	max-width: 960px;
	background:url(../images/pattern.png);
	margin: 0 auto;
	font-size: 1em;
}

#wrapper{
	width: 100%;
	background: #b7ccc4;
}
/*   Header starts here */
header{
	background: url(../images/crowd4.jpg) no-repeat center top;
	height: 400px;  /*    400px/960px */
}

header + p{
	padding: 0 1.04166666%; /*10px/960px*/
	font: bold .8em/1.5em Tahoma, Geneva, sans-serif;
	color: #424a4f;
}

h1{
	width: 26.04166666%; /*250px/960px*/
	float:left;
	padding-bottom: .520833333%; /*5px/960px*/
	margin: 1.04166666%; /*10px/960px*/
	color: #dae5e1;
	}

/*   Nav starts here */	

nav{
	border-bottom: 3px solid #ed4a17;
	width: 100%;
    height: 50px;
    font: bold 1em/3.125em Tahoma, Geneva, sans-serif;   /* short-hand code for font properties */
    text-align: center;
    margin: auto;
}

ul{
	margin-top: 0;
}

nav li{
	display: inline-block;
	color: white;
	list-style:none;
	font-size: 1.4em;
	letter-spacing: 0.1em;
	padding: .20833333% 2.08333333%;   /* 2px/960px    -   20px/960px*/
	text-shadow: 
}

li a:hover{
	color: white;
}

a:link{
	color: #ed4a17;
}

a:visited{
	color: #ed4a17;
}

li a:hover{
	color: white;
}

a{
	text-decoration: none;
}

/*   Nav ends here */
	

/*   Header ends here */	

h2{
	text-indent: 1.04166666%; /*10px/960px*/
	color: #ed4a17;
}	

/*   Section starts here */	
	
h3{
	margin: 0;
	text-align: center;
	background: #ed4a17;
	height: 25px;
	padding-top:  3.90625000%; /*10px/256px*/
	color: white;
}

section > div{
	float: left;
	margin: 0 3.125%;   /*  30px/960px*/
	width: 26.66666666%; /* 256px/ 960px*/ 
}

img[src$=".jpg"]{
	width: 96.875%;   /* 248px/256px*/
	height: 96.875%;   /* 248px/256px*/
	border: 4px solid #ed4a17; /* 4px/256px*/
}

div:nth-child(1n+4){
	margin-top: 2.08333333%; /* 20px/960px*/
	margin-bottom: 2.08333333%; /* 20px/960px*/
}

/*   Footer starts here */

footer{
	background: #ed4a17;
	padding-top: 1.04166666%; /*10px/960px*/
	clear: both;
}
footer p{
	margin:0;
	margin-left: .520833333%; /*5px/960px*/
}
/*   Footer ends here */




/* MEDIA QUERIES       */

/* 
@media screen and(min-width: 700px) and (max-width: 960px){

}


@media screen and(min-width: 700px) and (max-width: 960px){

}



@media screen and(min-width: 700px) and (max-width: 960px){

}
 */

