/*  This document validates as CSS level 3 !*/

html{
	background-image: url(../images/bluewall2.jpg)
}

body{
	width: 960px;
	height: 1057px;
	background: silver;
	margin: 0 auto;
	
}
* {
	margin: 0;
	padding: 0;

}
.float-left{
	float:left;
}

.float-right{
	float:right;
}

.clear{
	clear: both;
}
section, aside{
	margin: 12px;
}



nav{
	width: 100%;
    height: 3.125em;
    font: bold 1em/3.125em Tahoma, Geneva, sans-serif;   /* short-hand code for font properties */
    text-align: center;
    background: rgba(80,108,129,0.9);
    margin: auto;
}

.sidebar li>h3{
	margin: 1.5em 0 0.5em;
}

figure ~ p{
	line-height: 1.4em;
}

nav li{
	
	display: inline-block;
	width:13%;
	color: white;
	opacity: 0.9;
	list-style:none;
	text-decoration: none;
	font-size: 1.25em;
	letter-spacing: 0.1em;
}

a[href*="#"] {
    text-decoration: none;
    padding: 10% 0;
    color: white;
    font-style: normal;
}

a[href$=".edu"]{
	text-decoration: none;
	font-weight: bold;
}

h2 + ul{
	list-style: none;
}
aside{
	width: 300px;
}
nav a:hover{
	color: #5897ba;
}

p{
	clear:both;
}

figure + p:first-letter{
	font-size: 1.5em;
}

h1{
	font-size: 2.5em;
	width: 300px;
	height: 60px;
	margin: 0 auto;
	color: white;
	padding-top: 20px;
}

section > p{
	width: 600px;
}


aside h2, h3{
	color: rgb(80,108,129)
}

footer{
	width: 100%;
	height: 30px;
	background: rgba(80,108,129,0.9);
	text-indent: 10px;
	padding-top: 10px;
	
	
}